<div id="<%= dom_id art %>">
  <p>
    <strong>Title:</strong>
    <%= art.title %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= art.url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= art.description %>
  </p>

  <p>
    <strong>Format:</strong>
    <%= art.format %>
  </p>

</div>
